.Navbar {
    background-color: rgb(19, 19, 19);
  }
  
.Navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
.Navbar ul li {
    display: inline-block;
  }
  
.Navbar ul li a {
    text-decoration: none;
    color: rgb(253, 253, 252);
    display: block;
    padding: 15px;
  }
  
.Navbar ul li a:hover {
    background-color: rgb(92, 92, 94);
  }
form {
  width: 70%;
  margin: auto;
}
input {
  width: 100%;
  margin-bottom: 5px;
}
label {
  margin-left: 0px;
}
textarea {
  width: 100%;
  
}